block variable
	-
		var submenu_1 = [{
				link: "#",
				img: 'menu/1_1.jpg',
				title: 'Интерьерные краски',
			},
			{ 
				link: "#",
				img: 'menu/1_2.jpg',
				title: 'Средства подготовки поверхности',
			},
			{ 
				link: "#",
				img: 'menu/1_3.jpg',
				title: 'Клея для стеклообоев',
			},
			{ 
				link: "#",
				img: 'menu/1_4.jpg',
				title: 'Шпатлевки и сухие смеси',
			},
			{ 
				link: "#",
				img: 'menu/1_5.jpg',
				title: 'Лаки и эмали',
			},
		];
		var submenu_2 = [{
				link: pagesLink[0].calculator,
				img: 'menu/2_1.jpg',
				title: 'Калькулятор расхода краски',
			},
			{ 
				link: pagesLink[0].palette,
				img: 'menu/2_2.jpg',
				title: 'Подбор цвета',
			}
		];
		var submenu_4 = [{
				link: pagesLink[0].news,
				img: 'menu/4_1.jpg',
				title: 'Новости',
			},
			{ 
				link: pagesLink[0].object,
				img: 'menu/4_2.jpg',
				title: 'Объекты',
			},
			{ 
				link: pagesLink[0].discounts,
				img: 'menu/4_3.jpg',
				title: 'Акции',
			},
		];
.container
	.row-row
		ul.header-menu
			li.header-menu-item
				a(href=pagesLink[0].company).header-menu-item__title Компания
			li.has-submenu.header-menu-item
				a(href= pagesLink[0].products).header-menu-item__title Продукция
				ul.header-submenu
					each v, i in submenu_1
						li
							a(href= v.link).header-submenu-item
								.header-submenu-item__img
									+img(v.img)
								h5.header-submenu-item__title= v.title
							if i == 1
								//- ul.type-prod-list
								//- 	li.type-prod-list-item.bgc--white.width--midlle
								//- 		a(href="#")
								//- 			+svg('3').type-prod-list-item__icon
								//- 			span.type-prod-list-item__text Грунтовки
								//- 	li.type-prod-list-item.bgc--red.width--midlle
								//- 		a(href="#")
								//- 			+svg('4').type-prod-list-item__icon
								//- 			span.type-prod-list-item__text.color--wc Шпатлевки
								//- 	li.type-prod-list-item.bgc--blue.width--midlle
								//- 		a(href="#")
								//- 			+svg('5').type-prod-list-item__icon.fill--none
								//- 			span.type-prod-list-item__text.color--wc Сухие смеси
							else if i == 0
								ul.type-prod-list
									li.type-prod-list-item.bgc--white
										a(href="#")
											+svg('1').type-prod-list-item__icon
											span.type-prod-list-item__text Home линейка
									li.type-prod-list-item.bgc--blue
										a(href="#")
											+svg('2').type-prod-list-item__icon
											span.type-prod-list-item__text.color--wc Professional линейка
							else

					li.overlay
			li.has-submenu.header-menu-item
				a(href=pagesLink[0].services).header-menu-item__title Сервисы
				ul.header-submenu
					each v in submenu_2 
						li
							a(href= v.link).header-submenu-item
								.header-submenu-item__img
									+img(v.img)
								h5.header-submenu-item__title= v.title
					li.overlay
			li.header-menu-item
				a(href=pagesLink[0].advice).header-menu-item__title советы
			li.header-menu-item.header-menu-item__logo
				a(href="/")
					+img('logo.svg')
			li.has-submenu.header-menu-item
				a(href="./discounts.html").header-menu-item__title инфо
				ul.header-submenu
					each v in submenu_4
						li
							a(href=v.link).header-submenu-item
								.header-submenu-item__img
									+img(v.img)
								h5.header-submenu-item__title= v.title
					li.overlay
			li.header-menu-item
				a(href=pagesLink[0].buy).header-menu-item__title Где Купить
		a(href="tel:+1234567890").header-phone
			+img('phone_icon.svg').header-phone__icon
			span.header-phone__text.header__text 1 234 567 890
		.lang-list-vertical-wrap
			ul.lang-list-vertical
				li.lang-list-vertical__item.lang-list__item--active
					a(href='#').header__text укр
				li.lang-list-vertical__item.active
					a(href='#').header__text рус
			+svg('arr')
		button(type="button").js-header-search.header-search.btn--res
			+img('search.svg')
		button(type="button").js-header-menu-btn.header-menu-btn.btn--res
			+svg('menu')
