
mixin svg(icon)
		svg(class="icon--"+ icon + ""  )&attributes(attributes)
			use(xlink:href="#icon-"+ icon + "")

mixin img(src)
	img(src='./assets/images/'+src+''  alt="foto")&attributes(attributes)

mixin SelectBox(name, id, options)
	.u-select-box
		.u-select-box__current(tabindex="1")
			each option, index in options
				.u-select-box__value
					if(index == 0)
						input.u-select-box__input(class='js_'+1+'checkbox js_select_checkbox' type="radio" id=id+index value=option.value name=id checked)
					else
						input.u-select-box__input(class='js_'+id+'checkbox js_select_checkbox' type="radio" id=id+index value=option.value name=id)
					p.u-select-box__input-text #{option.name}
				+svg('select-arr').u-select-box__icon
		ul.u-select-box__list
			each option, index in options
				li
					label.u-select-box__option(for=id+index aria-hidden) #{option.name}

mixin RangeSlider(options)
	each option, index in options
		li.range-item.filter__item.js-range-item
			h4.range-item__label.filter__label #{option.label}
			input.js-range-init(id=option.id type="hidden" data-from=option.from data-min=option.min data-to=option.to data-max=option.max)
			.u-range-item-nav
				input(id=option.id+"_min" class="js_"+option.id+"_min js-current-min" name=option.id+"_min" maxlength=option.max type="number" min=option.min value=option.min max=option.max)
				input(id=option.id+"_max" class="js_"+option.id+"_max js-current-max" name=option.id+"_max" maxlength=option.max type="number" min=option.min value=option.max max=option.max)

mixin link-with-circle(color, text, link)
	a(href=link class="link-with-circle link-with-circle_"+color)
		.link-with-circle__circle
			.link-with-circle__circle-inner
				<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M3.2 9L1.4 7.2L3.2 7.2L5 7.2L3.2 9Z" fill="#C11426"/>
					<path d="M3.2 -5.14989e-07L3.2 9M3.2 9L1.4 7.2L5 7.2L3.2 9Z" stroke="#C11426" stroke-width="0.6"/>
				</svg>
		span.link-with-circle__text= text