extends ../layout/main
block variable1
		-
				var title_page = 'Где купить'
				var breadcrumbsSubitem = [
						{
								label: 'Краски kolorit',
								link: "/"
						},
				];

				var cities = [
						'Киев',
						'Житомир',
						'Винница',
						'Львов',
						'Днепр'
				]
				var regions = [
					{
						label: 'Винницкая область',
						value: 'vinnickaya',
					},

					{
						label: 'Волынская область',
						value: 'volynskaya',
					},

					{
						label: 'Днепропетровская область',
						value: 'dnepropetrovskaya',
					},

					{
						label: 'Донецкая область',
						value: 'doneckaya',
					},

					{
						label: 'Житомирская область',
						value: 'zhitomirskaya',
					},

					{
						label: 'Закарпатская область',
						value: 'zakarpatskaya',
					},

					{
						label: 'Запорожская область',
						value: 'zaporozhskaya',
					},

					{
						label: 'Ивано-Франковская область',
						value: 'ivano-Frankovskaya',
					},

					{
						label: 'Киевская область',
						value: 'kievskaya',
					},

					{
						label: 'Кировоградская область',
						value: 'kirovogradskaya',
					},

					{
						label: 'Луганская область',
						value: 'luganskaya',
					},

					{
						label: 'Львовская область',
						value: 'lvovskaya',
					},

					{
						label: 'Николаевская область',
						value: 'nikolaevskaya',
					},

					{
						label: 'Одесская область',
						value: 'odesskaya',
					},

					{
						label: 'Полтавская область',
						value: 'poltavskaya',
					},

					{
						label: 'Ровненская область',
						value: 'rovnenskaya',
					},

					{
						label: 'Сумская область',
						value: 'sumskaya',
					},

					{
						label: 'Тернопольская область',
						value: 'ternopolskaya',
					},

					{
						label: 'Харьковская область',
						value: 'harkovskaya',
					},

					{
						label: 'Херсонская область',
						value: 'hersonskaya',
					},

					{
						label: 'Хмельницкая область',
						value: 'hmelnickaya',
					},

					{
						label: 'Черкасская область',
						value: 'cherkasskaya',
					},

					{
						label: 'Черниговская область',
						value: 'chernigovskaya',
					},

					{
						label: 'Черновицкая область',
						value: 'chernovickaya',
					}]

block meta
		title= title_page
		meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
		script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvIwpQlmn08p4nR3bND8v3PBuMrWNMsZM")
		script(src='./assets/scripts/index.js')
		script(src='./assets/scripts/buy.js')
block footer
		footer.footer
				include ../includes/footer.pug

block header
		header.header
				include ../includes/header.pug


block content
		.container
				include ../includes/breadcrumbs.pug
		.buy
				.container
						h3.buy__title Фирменные магазины
						.buy__top
								.buy__top-left
										.buy__top-content
												+img('buy/colorit-top-img.svg')
												p.buy__top-desc Color Studio Tikkurila - это сеть магазинов лакокрасочной продукции с высоким уровнем сервиса: профессиональные консультации, подбор цвета используя передовые технологии, выездные консультации, заказ выкрасов и бесплатная доставка -выгодно отличают данную сеть от магазинов аналогов. Имеют 22 магазинов по всей Украине. Представлены такие бренды лакокрасочной продукции как: Tikkurila, Kolorit, Farbmann, а так же малярные инструменты: Anza иTesa
								.buy__top-right
										.buy__top-content
												+img('buy/colorit-top-img2.svg')
												p.buy__top-desc Farba -Service - магазин лучших решений для ремонта - широкий ассортимент продукции позволяет оптимизировать время на подбор товаров для ремонтных работ, ведь все лучшие бренды собраны под 1 крышей. А ассортименте товаров есть такие бренды как: Kolorit, Tikkurila, Caparol, Sadolin, Pinotex, Anza, Tesa, HPX, 3M и другие.
						.buy__tabs
								.buy__tabs-list
									button(type="button" class="btn--res buy__tabs-tab js-trigger1" data-location="tikkurila") Color Studio Tikkurila
									button(type="button" class="btn--res buy__tabs-tab js-trigger1" data-location="service") Farba-Service
								div(class="buy__tabs-content js-buy__tabs-content1" data-location="tikkurila")
										.buy__tabs-left
												.buy__tabs-filter
														.buy__tabs-filter-block
																div(class="buy__tabs-filter-item") Область
																.calculator-item-select-wrap
																	select( name="tikkurila_region").calculator-item__select.js-tikkurila-region
																		//- option.calculator-item__select-item(selected="selected" value="all") Все
																		//- each val, i in regions
																		//- 	option.calculator-item__select-item( value=val.value)= val.label
														.buy__tabs-filter-block
																div(class="buy__tabs-filter-item") Город
																.calculator-item-select-wrap
																	select( name="tikkurila_city").calculator-item__select.js-tikkurila-city
																		option.calculator-item__select-item(selected="selected" value="all") Все
												//- buy__tabs-filtered__item--active
												ul.buy__tabs-filtered.js-tikkurila-res-list
								div(class="buy__tabs-content js-buy__tabs-content1" data-location="farbaService")
										.buy__tabs-left
												.buy__tabs-filter
														.buy__tabs-filter-block
																div(class="buy__tabs-filter-item") Область
																		button(class="buy__tabs-filter-item-text js-buy__tabs-filter-item-text" type="button") Все
																		.buy__tabs-filter-list
																				.buy__tabs-filter-list-content
																						each value, idx in regions
																								div(class="buy__tabs-filter-list-item" data-city=value)
																										label=value
																												if idx === 0
																														input(type="radio" checked name="region" id=idx)
																												input(type="radio" name="region" id=idx)
																												span.buy__tabs-filter-list-indicator
																				button(class="buy__tabs-filter-submit") Применить
														.buy__tabs-filter-block
																div(class="buy__tabs-filter-item") Город
																		button(class="buy__tabs-filter-item-text js-buy__tabs-filter-item-text" type="button") Киев
																		.buy__tabs-filter-list
																				.buy__tabs-filter-list-content
																						each value, idx in cities
																								div(class="buy__tabs-filter-list-item" data-city=value)
																										label=value
																												if idx === 0
																														input(type="radio" checked name="city" id=idx)
																												input(type="radio" name="city" id=idx)
																												span.buy__tabs-filter-list-indicator
																				button(class="buy__tabs-filter-submit") Применить
												.buy__tabs-filtered
														div(class="buy__tabs-filtered__item")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
														div(class="buy__tabs-filtered__item buy__tabs-filtered__item--active")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
														div(class="buy__tabs-filtered__item")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
														div(class="buy__tabs-filtered__item")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
														div(class="buy__tabs-filtered__item")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
										div(class="buy__tabs-right buy__tabs-right-map")
				.buy__parther
						.container
								.buy__parther-row.row
										.buy__parther-content
												h3(class="buy__parther-title buy-title") Торговые сети и магазины партнеров
												.buy__parther-wrap
														.buy__parther-left
																.buy__parther-left-content
																		p.buy__parther-desc Бренд Kolorit представлен в более 400 точках продаж по всей Украине. Мы предствлены в больших торговых сетях таких как: Эпицентр, Новая Линия, Олди, Анжио, Будмаркет, так и в локальным маркетах Вашего города
																		h4.buy__parther-title-small Бренд Kolorit удобно покупать даже не выходя из дому
																		p.buy__parther-desc Наши онлайн-ритейлеры обесчетам вам полноценную консультацию, помогут с выбором и вы сможете продолжать ремонт не выходя из дома.
														.buy__parther-right
																.buy__parther-list
																		div(class="buy__parther-list-item buy__parther-list-item--1")
																				+img('buy/oldi.png')
																		div(class="buy__parther-list-item buy__parther-list-item--2")
																				+img('buy/epicenter.png')
																		div(class="buy__parther-list-item buy__parther-list-item--3")
																				+img('buy/bogema.png')
																		div(class="buy__parther-list-item buy__parther-list-item--4")
																				+img('buy/anzio.png')
																		div(class="buy__parther-list-item buy__parther-list-item--5")
																				+img('buy/nova-liniya.png')
																		div(class="buy__parther-list-item buy__parther-list-item--6")
																				+img('buy/color.jpg')
																		div(class="buy__parther-list-item buy__parther-list-item--7")
																				+img('buy/build-shop.jpg')
				.container
						.buy__tabs.js-buy__tabs
								.buy__tabs-list
										a(href="#" class="buy__tabs-tab buy__tabs-tab--active js-trigger" data-partners="partners") Торговые сети и магазины партнеров
										a(href="#" class="buy__tabs-tab js-trigger" data-partners="online") Онлайн магазины
								div(class="buy__tabs-content js-buy__tabs-content" data-partners="partners")
										.buy__tabs-left
												.buy__tabs-filter
														.buy__tabs-filter-block
																div(class="buy__tabs-filter-item") Область
																		button(class="buy__tabs-filter-item-text js-buy__tabs-filter-item-text" type="button") Все
																		.buy__tabs-filter-list
																				.buy__tabs-filter-list-content
																						each value, idx in regions
																								div(class="buy__tabs-filter-list-item" data-city=value)
																										label=value
																												if idx === 0
																														input(type="radio" checked name="region" id=idx)
																												input(type="radio" name="region" id=idx)
																												span.buy__tabs-filter-list-indicator
																				button(class="buy__tabs-filter-submit") Применить
														.buy__tabs-filter-block
																div(class="buy__tabs-filter-item") Город
																		button(class="buy__tabs-filter-item-text js-buy__tabs-filter-item-text" type="button") Киев
																		.buy__tabs-filter-list
																				.buy__tabs-filter-list-content
																						each value, idx in cities
																								div(class="buy__tabs-filter-list-item" data-city=value)
																										label=value
																												if idx === 0
																														input(type="radio" checked name="city" id=idx)
																												input(type="radio" name="city" id=idx)
																												span.buy__tabs-filter-list-indicator
																				button(class="buy__tabs-filter-submit") Применить
												.buy__tabs-filtered
														div(class="buy__tabs-filtered__item")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
														div(class="buy__tabs-filtered__item buy__tabs-filtered__item--active")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
														div(class="buy__tabs-filtered__item")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
														div(class="buy__tabs-filtered__item")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
														div(class="buy__tabs-filtered__item")
																.buy__tabs-filtered__item-block
																		.buy__tabs-filtered-name GOOD STORE
																		.buy__tabs-filtered-address Киев, ул. Здолбуновская, 7-Г
																.buy__tabs-filtered__item-block
																		a(href="tel:0503960767" class="buy__tabs-filtered-phone buy__tabs-filtered-link") (050) 3960767
																		a(href="goodstore.com" class="buy__tabs-filtered-link buy__tabs-filtered-site") goodstore.com
										div(class="buy__tabs-right buy__tabs-right-map-partners")
								div(class="buy__tabs-content js-buy__tabs-content" data-partners="online")
										.online-shops
												.online-shops__item
														.online-shops__img-wrapper
																.online-shops__img
																		+img('buy/epicenter2.png')
														.online-shops__content
																h4.online-shops__title ЭПИЦЕНТР
																a(href="#").online-shops__link goodstore.com
												.online-shops__item
														.online-shops__img-wrapper
																.online-shops__img
																		+img('buy/Rozetka.png')
														.online-shops__content
																h4.online-shops__title Розетка
																a(href="#").online-shops__link goodstore.com
												.online-shops__item
														.online-shops__img-wrapper
																.online-shops__img
																		+img('buy/budmaster.png')
														.online-shops__content
																h4.online-shops__title БУДМАЙСТЕР.PRO
																a(href="#").online-shops__link goodstore.com
												.online-shops__item
														.online-shops__img-wrapper
																.online-shops__img
																		+img('buy/tricolor.png')
														.online-shops__content
																h4.online-shops__title Tricolor
																a(href="#").online-shops__link goodstore.com
												.online-shops__item
														.online-shops__img-wrapper
																.online-shops__img
																		+img('buy/ibud.png')
														.online-shops__content
																h4.online-shops__title ibud.ua
																a(href="#").online-shops__link goodstore.com
												.online-shops__item
														.online-shops__img-wrapper
																.online-shops__img
																		+img('buy/intergips.png')
														.online-shops__content
																h4.online-shops__title Intergips
																a(href="#").online-shops__link goodstore.com
				.container
						.row.buy__form-row
								.buy__form
										.buy__form-content
												.buy__form-content-left
														.buy__form-desc
																span По вопросам сотрудничества обращайтесь на 
																a(href="mailto:partner@kolorit.ua") partner@kolorit.ua
														.modal-form-popup__title Хотите стать  официальным ритейлером?
												form.modal-form
														.modal-form__input-group
																label(for="footer-subscribe-form-name").modal-form__label Имя*
																input(type="text" required placeholder="Имя*" name="footer-subscribe-form-name").modal-form__input
														.modal-form__input-group
																label(for="footer-subscribe-form-email").modal-form__label E-mail*
																input(type="email" required placeholder="E-mail*" name="footer-subscribe-form-email").modal-form__input
														.modal-form__input-group.margin-top--more
																label(for="footer-subscribe-form-msg").modal-form__label Сообщение*
																input(type="text" placeholder="Сообщение*" name="footer-subscribe-form-msg").modal-form__input
														button.btn--res.modal-form__btn Отправить
				.container
						.buy__message-row.row
								.buy__message
										.buy__message-right.js-buy-message-map
										.buy__message-wrap
												.buy__message-block
														h3(class="buy-title buy__message-title") Мы открыты к общению
														.buy__message-tabs
																a(href="#" class="buy__message-tab buy__message-tab--active js-message-triger" data-message="office") Офис
																a(href="#" class="buy__message-tab js-message-triger" data-message="manufacture" ) Производство
												div(class="buy__message-left js-buy__message-left" data-message="office")
														.buy__message-text ООО «Краски Колорит»
														.buy__message-contacts
																div(class="buy__message-contacts-item buy__message-contacts-item--1")
																		+svg('location-with-circle')
																		span.buy__message-contacts-text 08130 Киевская область, Петропавловская Борщаговка, ул. Садовая, 49
																div(class="buy__message-contacts-item buy__message-contacts-item--2")
																		+svg('mail-open')
																		a(href="mailto:info@kolorit.ua" class="buy__message-contacts-text") info@kolorit.ua
														.buy__message-text Горячая линия
														.buy__message-info
																.buy__message-info-item
																		+svg('smartphone')
																		a(href="tel:0800508908" class="buy__message-info-phone") 0 800 508 908
																.buy__message-info-item
																		a(href="tel:+380442377112" class="buy__message-info-phone") +38 044 237 71 12
												div(class="buy__message-left js-buy__message-left" data-message="manufacture")
														.buy__message-text ООО «Краски Колорит»
														.buy__message-contacts
																div(class="buy__message-contacts-item buy__message-contacts-item--1")
																		+svg('location-with-circle')
																		span.buy__message-contacts-text 04073 г. Киев, ул. Марка Вовчка, 14
														.buy__message-text Горячая линия
														.buy__message-info
																.buy__message-info-item
																		+svg('smartphone')
																		a(href="tel:0800508908" class="buy__message-info-phone") 0 800 508 908

				.banner-2
						.banner-2__l(style="background-image: url('assets/images/1.jpg');")
								a(href="./advice.html").underline-link
										span.banner-2__title Вдохновляйтесь <br> вместе с нами
										.news-item-btn.link-arrow-type
												.circle-btn
														.circle-btn-inner.dark-ico
																+svg('qww')
												.news-item-btn__text Читать совет
						.banner-2__r
								a(href="button").btn--res.link-arrow-type
										.circle-btn
												.circle-btn-inner
														+svg('qww')
										.banner-2-btn__text Смотреть список <br> продуктов


