extends ../layout/main

block home-variable 
	- var page_id= "home"	
block meta
	title= 'Home'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')
	script(src='./assets/scripts/home.js')
block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug


block content
	.main-section
		//- Slider Control
		.main-section-navbar
			.current-slick
				span.js-current-slick__cnt 1
				span /
				span.js-current-slick__all 6
			.main-section-dots-wrapper.js-main-section-dots-wrapper
			button(type="button").btn--res.slider-btn.js-main-sl-arr-prev
				+svg('arr-small-right')
			button(type="button").btn--res.slider-btn.js-main-sl-arr-next
				+svg('arr-small-left')
		//- Main Slider		
		.main-section-sl.js-main-section-sl
			//- Slide 1
			.main-section-sl__main-slide.main-slide.main-slide--1
				.main-slide__left(style="background: #EBEEF3;")
					.main-slide__text-wrapper
						h2.main-slide__title Особое ощущение вашего дома
						p.main-slide__subtitle Лаки и краски со скандинавской генетикой
						a(href="company.html").main-slide__btn.main-slide__btn_red
							.main-slide__btn-circle-out
								.main-slide__btn-circle-in(style="background: #C11426")
									<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#fff"/>
										<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#fff" stroke-width="0.6"/>
									</svg>
							span(style="color: #C11426") Читать о компании
					a(href="company.html").main-slide__btn.main-slide__btn_mob
						.main-slide__btn-circle-out
							.main-slide__btn-circle-in
								<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#17315B"/>
									<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#17315B" stroke-width="0.6"/>
								</svg>
						span Читать о компании
					.main-slide__paints
						+img('main-slider/slide1-paints.png')
					.main-slide__left-bottom
				.main-slide__right
					+img("main-slider/slide1-bg.jpg").main-slide__slide-bg
					+img("main-slider/slide1-bg-mob.jpg").main-slide__slide-bg.main-slide__slide-bg_mob
				.scroll-icon
					<svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5" d="M8.66667 0C3.9 0 0 3.9 0 8.66667V17.3333C0 22.1 3.9 26 8.66667 26C13.4333 26 17.3333 22.1 17.3333 17.3333V8.66667C17.3333 3.9 13.4333 0 8.66667 0ZM16.0952 17.3333C16.0952 21.4191 12.7524 24.7619 8.66667 24.7619C4.58095 24.7619 1.2381 21.4191 1.2381 17.3333V8.66667C1.2381 4.58095 4.58095 1.2381 8.66667 1.2381C12.7524 1.2381 16.0952 4.58095 16.0952 8.66667V17.3333Z" fill="#9AB4C1"/>
						<path d="M8.66641 5.57144C8.32593 5.57144 8.04736 5.85001 8.04736 6.19049V9.28573C8.04736 9.6262 8.32593 9.90478 8.66641 9.90478C9.00689 9.90478 9.28546 9.6262 9.28546 9.28573V6.19049C9.28546 5.85001 9.00689 5.57144 8.66641 5.57144Z" fill="#C11426"/>
					</svg>
					span.scroll-icon__text ИСПОЛЬЗУЙТЕ СКРОЛЛ
				.hot-line.hot-line--darken
					.hot-line__text Горячая линия
					a(href="tel:800508908").header-phone
						+svg('phone').header-phone__icon
						span.header-phone__text.header__text 800508908
			//- Slide 2
			.main-section-sl__main-slide.main-slide.main-slide--2
				.main-slide__left(style="background: #E49100;")
					.main-slide__text-wrapper
						h2.main-slide__title(style="color: #F6F7FC;") Ваши краски — ваш Kolorit
						p.main-slide__subtitle(style="color: #F6F7FC;") Линейка премиальных интерьерных красок Home — стиль и элегантность в каждом нанесении
						a(href="company.html").main-slide__btn.main-slide__btn_blue
							.main-slide__btn-circle-out
								.main-slide__btn-circle-in(style="background: #17315B")
									<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#fff"/>
										<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#fff" stroke-width="0.6"/>
									</svg>
							span(style="color: #17315B") Выбрать краску
					a(href="company.html").main-slide__btn.main-slide__btn_mob
						.main-slide__btn-circle-out
							.main-slide__btn-circle-in
								<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#17315B"/>
									<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#17315B" stroke-width="0.6"/>
								</svg>
						span Выбрать краску
					.main-slide__paints
						+img('main-slider/slide2-paints.png')
				.main-slide__right(style="background: #E49100;")
					+img("main-slider/slide2-bg.png").main-slide__slide-bg(style="object-fit: contain; object-position: top right")
					+img("main-slider/slide2-bg-mob.jpg").main-slide__slide-bg.main-slide__slide-bg_mob
				.scroll-icon
					<svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5" d="M8.66667 0C3.9 0 0 3.9 0 8.66667V17.3333C0 22.1 3.9 26 8.66667 26C13.4333 26 17.3333 22.1 17.3333 17.3333V8.66667C17.3333 3.9 13.4333 0 8.66667 0ZM16.0952 17.3333C16.0952 21.4191 12.7524 24.7619 8.66667 24.7619C4.58095 24.7619 1.2381 21.4191 1.2381 17.3333V8.66667C1.2381 4.58095 4.58095 1.2381 8.66667 1.2381C12.7524 1.2381 16.0952 4.58095 16.0952 8.66667V17.3333Z" fill="#F0F1F8"/>
						<path d="M8.66641 5.57144C8.32593 5.57144 8.04736 5.85001 8.04736 6.19049V9.28573C8.04736 9.6262 8.32593 9.90478 8.66641 9.90478C9.00689 9.90478 9.28546 9.6262 9.28546 9.28573V6.19049C9.28546 5.85001 9.00689 5.57144 8.66641 5.57144Z" fill="#C11426"/>
					</svg>
					span.scroll-icon__text ИСПОЛЬЗУЙТЕ СКРОЛЛ
				.hot-line.hot-line--darken
					.hot-line__text(style="color:#FFFFFF;") Горячая линия
					a(href="tel:800508908").header-phone
						+svg('phone').header-phone__icon
						span.header-phone__text.header__text 800508908
			//- Slide 3
			.main-section-sl__main-slide.main-slide.main-slide--3
				.main-slide__left
					+img("main-slider/slide3-bg.png").main-slide__slide-bg
					+img("main-slider/slide3-bg2-mob.png").main-slide__slide-bg.main-slide__slide-bg_mob
					.main-slide__text-wrapper
						h2.main-slide__title(style="color: #F6F7FC;") Вдохновение цветом
						p.main-slide__subtitle(style="color: #F6F7FC;") Профессиональная тонировочная система Avatint Tikkurila — более 50 000 цветов
						a(href="company.html").main-slide__btn.main-slide__btn_white
							.main-slide__btn-circle-out
								.main-slide__btn-circle-in(style="background: #F6F7FC")
									<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#C11426"/>
										<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#C11426" stroke-width="0.6"/>
									</svg>
							span(style="color: #F6F7FC") Смотреть палитру
					a(href="company.html").main-slide__btn.main-slide__btn_mob
						.main-slide__btn-circle-out
							.main-slide__btn-circle-in
								<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#17315B"/>
									<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#17315B" stroke-width="0.6"/>
								</svg>
						span Смотреть палитру
				.main-slide__right(style="background: #811823")
					+img("main-slider/slide3-bg2.png").main-slide__slide-bg(style="object-fit: contain; object-position: top right")
					+img("main-slider/slide3-bg-mob.jpg").main-slide__slide-bg.main-slide__slide-bg_mob
				.scroll-icon
					<svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5" d="M8.66667 0C3.9 0 0 3.9 0 8.66667V17.3333C0 22.1 3.9 26 8.66667 26C13.4333 26 17.3333 22.1 17.3333 17.3333V8.66667C17.3333 3.9 13.4333 0 8.66667 0ZM16.0952 17.3333C16.0952 21.4191 12.7524 24.7619 8.66667 24.7619C4.58095 24.7619 1.2381 21.4191 1.2381 17.3333V8.66667C1.2381 4.58095 4.58095 1.2381 8.66667 1.2381C12.7524 1.2381 16.0952 4.58095 16.0952 8.66667V17.3333Z" fill="#F0F1F8"/>
						<path d="M8.66641 5.57144C8.32593 5.57144 8.04736 5.85001 8.04736 6.19049V9.28573C8.04736 9.6262 8.32593 9.90478 8.66641 9.90478C9.00689 9.90478 9.28546 9.6262 9.28546 9.28573V6.19049C9.28546 5.85001 9.00689 5.57144 8.66641 5.57144Z" fill="#9AB4C1"/>
					</svg>
					span.scroll-icon__text(style="color: #F0F1F8;") ИСПОЛЬЗУЙТЕ СКРОЛЛ
				.hot-line.hot-line--darken
					.hot-line__text Горячая линия
					a(href="tel:800508908").header-phone
						+svg('phone').header-phone__icon
						span.header-phone__text.header__text 800508908
			//- Slide 4
			.main-section-sl__main-slide.main-slide.main-slide--4
				.main-slide__left(style="background: #F0F1F8;")
					.main-slide__text-wrapper
						h2.main-slide__title Качественный сервис
						p.main-slide__subtitle Консультация специалистов, заказ выкрасов и бесплатная доставка для простого и приятного ремонта
						a(href="company.html").main-slide__btn.main-slide__btn_blue-red
							.main-slide__btn-circle-out
								.main-slide__btn-circle-in(style="background: #17315B")
									<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#fff"/>
										<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#fff" stroke-width="0.6"/>
									</svg>
							span(style="color: #C11426") Перейти в сервисы
					a(href="company.html").main-slide__btn.main-slide__btn_mob
						.main-slide__btn-circle-out
							.main-slide__btn-circle-in
								<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#17315B"/>
									<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#17315B" stroke-width="0.6"/>
								</svg>
						span Перейти в сервисы
					.main-slide__left-bottom
				.main-slide__right
					+img("main-slider/slide4-bg.png").main-slide__slide-bg
					+img("main-slider/slide4-bg-mob.jpg").main-slide__slide-bg.main-slide__slide-bg_mob
				.scroll-icon
					<svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5" d="M8.66667 0C3.9 0 0 3.9 0 8.66667V17.3333C0 22.1 3.9 26 8.66667 26C13.4333 26 17.3333 22.1 17.3333 17.3333V8.66667C17.3333 3.9 13.4333 0 8.66667 0ZM16.0952 17.3333C16.0952 21.4191 12.7524 24.7619 8.66667 24.7619C4.58095 24.7619 1.2381 21.4191 1.2381 17.3333V8.66667C1.2381 4.58095 4.58095 1.2381 8.66667 1.2381C12.7524 1.2381 16.0952 4.58095 16.0952 8.66667V17.3333Z" fill="#9AB4C1"/>
						<path d="M8.66641 5.57144C8.32593 5.57144 8.04736 5.85001 8.04736 6.19049V9.28573C8.04736 9.6262 8.32593 9.90478 8.66641 9.90478C9.00689 9.90478 9.28546 9.6262 9.28546 9.28573V6.19049C9.28546 5.85001 9.00689 5.57144 8.66641 5.57144Z" fill="#C11426"/>
					</svg>
					span.scroll-icon__text ИСПОЛЬЗУЙТЕ СКРОЛЛ
				.hot-line.hot-line--darken
					.hot-line__text Горячая линия
					a(href="tel:800508908").header-phone
						+svg('phone').header-phone__icon
						span.header-phone__text.header__text 800508908	
			//- Slide 5 with discount
			.main-section-sl__main-slide.main-slide.main-slide--5
				.main-slide__left(style="background: #F0F1F8;")
					.main-slide__text-wrapper
						h2.main-slide__title Kolorit рекомендует
						p.main-slide__subtitle Заголовок акции, для примера "Магия шелка для вашего дома"
						a(href="company.html").main-slide__btn.main-slide__btn_blue-red
							.main-slide__btn-circle-out
								.main-slide__btn-circle-in(style="background: #17315B")
									<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#fff"/>
										<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#fff" stroke-width="0.6"/>
									</svg>
							span(style="color: #C11426") Смотреть акции
					a(href="company.html").main-slide__btn.main-slide__btn_mob
						.main-slide__btn-circle-out
							.main-slide__btn-circle-in
								<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#17315B"/>
									<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#17315B" stroke-width="0.6"/>
								</svg>
						span Смотреть акции
					.main-slide__discounts-can
						.main-slide__features
							.main-slide__discount
								+img('main-slider/slide5-discount.png')
							.main-slide__adv
								+img('main-slider/slide5-adv.png')
						.main-slide__paints.main-slide__paints_single-can
							+img('main-slider/slide5-paints.png')
				.main-slide__right
					+img("main-slider/slide5-bg.jpg").main-slide__slide-bg
					+img("main-slider/slide5-bg-mob.jpg").main-slide__slide-bg.main-slide__slide-bg_mob
				.scroll-icon
					<svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5" d="M8.66667 0C3.9 0 0 3.9 0 8.66667V17.3333C0 22.1 3.9 26 8.66667 26C13.4333 26 17.3333 22.1 17.3333 17.3333V8.66667C17.3333 3.9 13.4333 0 8.66667 0ZM16.0952 17.3333C16.0952 21.4191 12.7524 24.7619 8.66667 24.7619C4.58095 24.7619 1.2381 21.4191 1.2381 17.3333V8.66667C1.2381 4.58095 4.58095 1.2381 8.66667 1.2381C12.7524 1.2381 16.0952 4.58095 16.0952 8.66667V17.3333Z" fill="#9AB4C1"/>
						<path d="M8.66641 5.57144C8.32593 5.57144 8.04736 5.85001 8.04736 6.19049V9.28573C8.04736 9.6262 8.32593 9.90478 8.66641 9.90478C9.00689 9.90478 9.28546 9.6262 9.28546 9.28573V6.19049C9.28546 5.85001 9.00689 5.57144 8.66641 5.57144Z" fill="#C11426"/>
					</svg>
					span.scroll-icon__text ИСПОЛЬЗУЙТЕ СКРОЛЛ
				.hot-line.hot-line--darken
					.hot-line__text(style="color:#F0F1F8;") Горячая линия
					a(href="tel:800508908").header-phone
						+svg('phone').header-phone__icon
						span.header-phone__text.header__text(style="color: #F0F1F8") 800508908	
			//- Slide 6
			.main-section-sl__main-slide.main-slide.main-slide--6
				.main-slide__left(style="background: #F0F1F8;")
					.main-slide__text-wrapper
						h2.main-slide__title Kolorit Argentic
						p.main-slide__subtitle Инновационная антимикробная краска — убивает 99% патогенных бактерий. Надежная защита для тех, о ком вы заботитесь.
						a(href="company.html").main-slide__btn.main-slide__btn_red
							.main-slide__btn-circle-out
								.main-slide__btn-circle-in(style="background: #C11426")
									<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#fff"/>
										<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#fff" stroke-width="0.6"/>
									</svg>
							span(style="color: #C11426") Узнать больше
					a(href="company.html").main-slide__btn.main-slide__btn_mob
						.main-slide__btn-circle-out
							.main-slide__btn-circle-in
								<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#17315B"/>
									<path d="M-4.36308e-07 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#17315B" stroke-width="0.6"/>
								</svg>
						span Узнать больше
					.main-slide__paints.main-slide__paints_single-can
						+img('main-slider/slide6-paints.png')
					.main-slide__left-bottom
				.main-slide__right
					+img("main-slider/slide6-bg.jpg").main-slide__slide-bg
					+img("main-slider/slide6-bg-mob.jpg").main-slide__slide-bg.main-slide__slide-bg_mob

				.scroll-icon
					<svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5" d="M8.66667 0C3.9 0 0 3.9 0 8.66667V17.3333C0 22.1 3.9 26 8.66667 26C13.4333 26 17.3333 22.1 17.3333 17.3333V8.66667C17.3333 3.9 13.4333 0 8.66667 0ZM16.0952 17.3333C16.0952 21.4191 12.7524 24.7619 8.66667 24.7619C4.58095 24.7619 1.2381 21.4191 1.2381 17.3333V8.66667C1.2381 4.58095 4.58095 1.2381 8.66667 1.2381C12.7524 1.2381 16.0952 4.58095 16.0952 8.66667V17.3333Z" fill="#9AB4C1"/>
						<path d="M8.66641 5.57144C8.32593 5.57144 8.04736 5.85001 8.04736 6.19049V9.28573C8.04736 9.6262 8.32593 9.90478 8.66641 9.90478C9.00689 9.90478 9.28546 9.6262 9.28546 9.28573V6.19049C9.28546 5.85001 9.00689 5.57144 8.66641 5.57144Z" fill="#C11426"/>
					</svg>
					span.scroll-icon__text ИСПОЛЬЗУЙТЕ СКРОЛЛ

				.hot-line.hot-line--darken
					.hot-line__text(style="color:#F0F1F8;") Горячая линия
					a(href="tel:800508908").header-phone
						+svg('phone').header-phone__icon
						span.header-phone__text.header__text 800508908	

	.container-section-slaider-wrap
		.section-slaider-wrap
			.section-slaider.js-section-slaider
				// start
				.first-slide-home.section-slaider__item.slide-content
					ul.slider-breadcrumds-list
						li(data-sl_bread="0").js-sl-breadcrumds.slider-breadcrumds-item.slider-breadcrumds-item--active качество
						li(data-sl_bread="1").js-sl-breadcrumds.slider-breadcrumds-item Экологичность
						li(data-sl_bread="2").js-sl-breadcrumds.slider-breadcrumds-item Сервис
					.wrap
						.first-slide-content__1.slide-content-1
							+img('home/bucket.png').slide-content__bucket
						.first-slide-content__2.slide-content-2 
							span.slide-content__counter
								span 1
								span /
								span 3
					.first-slide-content__3.slide-content-3
						span.slide-content__counter-mob
							span 1
							span /
							span 3
						.sec-sl-btn-wrap
							button(type="button").btn--res.js-sec-sl-btn-wrap--next
								+svg('arr-circ-sec')
							button(type="button").btn--res.js-sec-sl-btn-wrap--prev
								+svg('arr-circ-sec_1')
						.img-overlay
							+img('home/slide_1.jpg').img-overlay__bg
						h3.slide-content__title.js-slide-content__title Гарантия качества
						p.slide-content__text Качество — основа продукции Kolorit. Инновационные формулы, стабильные рецептуры и строгий контроль производства позволяют нам создавать продукты по европейским стандартам качества.
						a(href="#").link--resset.slide-content__btn Подробнее

				// end
				// --
				// start


				.second-slide-home.section-slaider__item.slide-content
					.wrap
						.second-slide-content__1.slide-content-1
							.img-overlay
								+img('home/slide_2.jpg').img-overlay__bg
						.second-slide-content__2.slide-content-2 
							span.slide-content__counter
								span 2
								span /
								span 3
					.second-slide-content__3.slide-content-3
						span.slide-content__counter-mob
							span 2
							span /
							span 3
						.sec-sl-btn-wrap
							button(type="button").btn--res.js-sec-sl-btn-wrap--next
								+svg('arr-circ-sec')
							button(type="button").btn--res.js-sec-sl-btn-wrap--prev
								+svg('arr-circ-sec_1')
						ul.slider-breadcrumds-list
							li(data-sl_bread="0").js-sl-breadcrumds.slider-breadcrumds-item качество
							li(data-sl_bread="1").js-sl-breadcrumds.slider-breadcrumds-item.slider-breadcrumds-item--active Экологичность
							li(data-sl_bread="2").js-sl-breadcrumds.slider-breadcrumds-item Сервис
						+img('temp/q2.png').slide-content__bucket
						
						h3.slide-content__title.js-second__title Безопасность и Экологичность
						p.slide-content__text Наши краски экологичны и гипоаллергенны, имеют экомаркировку “Живая Планета”, безопасны по уровню VOC, а в составе не содержат легколетучих веществ, фенолов, аммиака и свинца.
						a(href="#").slide-content__btn Узнать больше

				// end
				// --
				// start
						
						
						
				.third-slide-home.section-slaider__item.slide-content
					.wrap
						.third-slide-content__1.slide-content-1
							ul.slider-breadcrumds-list
								li(data-sl_bread="0").js-sl-breadcrumds.slider-breadcrumds-item качество
								li(data-sl_bread="1").js-sl-breadcrumds.slider-breadcrumds-item Экологичность
								li(data-sl_bread="2").js-sl-breadcrumds.slider-breadcrumds-item.slider-breadcrumds-item--active Сервис
							+img('temp/q3.png').slide-content__bucket
						.third-slide-content__2.slide-content-2 
							span.slide-content__counter
								span 3
								span /
								span 3
					.third-slide-content__3.slide-content-3
						span.slide-content__counter-mob
							span 3
							span /
							span 3
						.sec-sl-btn-wrap
							button(type="button").btn--res.js-sec-sl-btn-wrap--next
								+svg('arr-circ-sec')
							button(type="button").btn--res.js-sec-sl-btn-wrap--prev
								+svg('arr-circ-sec_1')
						.img-overlay
							+img('home/slide_3.jpg').img-overlay__bg
						h3.slide-content__title.js-third-title Первоклассный сервис
						p.slide-content__text Профессиональные консультации, выкрасы, доставка, обучение — Kolorit создает все условия для простого, понятного и приятного ремонта.
						a(href="#").slide-content__btn Подробнее
				// end

	.home-open-sec
		.page-container
			h2.home-open-sec__title Открой для себя мир Kolorit
			ul.row.home-open-sec-list
				each v,j in pageOpen
					li
						a(href="#").home-open-sec-item
							.home-open-sec-item__img
								+img('temp/o'+j+'.jpg')
							h3.home-open-sec-item__title= v.title

							p.home-open-sec-item__text= v.btn
							.home-open-sec-item__btn Узнать больше
							.home-open-sec-item__overlay
				li
					a(href="#").home-open-sec-item
						.home-open-sec-item__img
							+img('temp/o5.jpg')
						h3.home-open-sec-item__title Новинка
						.home-open-sec-item__btn Узнать больше
						.home-open-sec-item__img2
							+img('temp/o522.png')
						.home-open-sec-item__overlay
				li
					a(href="#").home-news__link.link-arrow-type
						.circle-btn
							.circle-btn-inner
								+svg('qww')
						span.link-arrow-type__text Смотреть всю продукцию

	.page-container
		ul.row.page-list
			each vq, jq in pageItm
				li.page-list-item
					if jq == 2
						.page-list-item-btn.js-open-consult.btn--res
							h4.page-list-item__title= vq.title
							+svg('p'+jq+'').page-list-item__img
							.page-list-item__btn= vq.btn
					else if jq == 3
						.page-list-item-btn.js-open-delivery.btn--res
							h4.page-list-item__title= vq.title
							+svg('p'+jq+'').page-list-item__img
							.page-list-item__btn= vq.btn
					else
						a(href="#")
							h4.page-list-item__title= vq.title
							+svg('p'+jq+'').page-list-item__img
							.page-list-item__btn= vq.btn
	.discounts.bg-overlay
		.page-container 
			.row
				.discounts-navbar.section-navbar
					.discounts-navbar-content__counter.section-note
						span Акция &nbsp;
						span.js-discounts-slick__cnt 1
						span /
						span.js-discounts-slick__all 6

					.discounts-navbar-btn-wrap
						button(type="button").btn--res.slider-btn.js-discount-sl-arr-prev
							+svg('arr-small-right')
						button(type="button").btn--res.slider-btn.js-discount-sl-arr-next
							+svg('arr-small-left')
				
				.discounts-slider-conent.js-discounts-slider-conent
					each v in [1,2,3]
						.discounts-conent
							.discounts-conent__img
								+img('temp/1.jpg')
							h3.discounts-conent__title Скидка 20#{v}% на интерьерные краски
							p.discounts-conent__text В первый месяц весны приобретение фасадных красок Fasilit и Sokelit обойдется вам дешевле на 30%!
							a(href="#").discounts-conent__btn Подробнее
	.home-news.bg-overlay
		.page-container
			.row
				.section-navbar
					.section-note 21 марта 2019
				a(href="#").home-news__title
					span Итоги выставки KYIVBILD 2020: В центре внимание — стенд KOLORIT
					.home-news-title__btn
						.home-news-title__btn-inner
							+svg('qw')
				.home-news__link-wrapepr
					a(href="#").home-news__link.link-arrow-type
						.circle-btn
							.circle-btn-inner
								+svg('qww')
						.link-arrow-type__text Больше новостей
	.home-advice
		.page-container
			.row-row
				.section-navbar
					.section-note-wrap
							.section-note Совет №
								span.js-advice-number 1
							.section-subnote.js-section-subnote Работа с цветом
					.advice-navbar-btn-wrap
						button(type="button").btn--res.slider-btn.js-advice-sl-arr-prev
							+svg('arr-small-right')
						button(type="button").btn--res.slider-btn.js-advice-sl-arr-next
							+svg('arr-small-left')
				.home-advice-sl-wrap
					each v, j in ['./assets/images/home/slide_1.jpg', './assets/images/home/slide_2.jpg', './assets/images/home/slide_3.jpg']
						.home-advice-sl(data-tag="lesson_"+j+"" data-img=v)
							.home-advice-sl__img
								img(src= v)
							.home-advice-sl-content
								h3.home-advice-sl__title Ближе к природе: интерьер в экостиле
								p.home-advice-sl__text Поездка на природу – любимый отдых многих жителей каменных джунглей. Чистый и свежий воздух расслабляет, а превосходные пейзажи...
								a(href="#").home-advice-sl__btn Читать далее
								//- a(href="#").home-advice-sl__link
								//- 	+svg('arr-circ-diff')
								//- 	span Все советы
								a(href="#").home-advice-sl__link.link-arrow-type
									.circle-btn
										.circle-btn-inner
											+svg('qww')
									span.link-arrow-type__text Все советы
						span.link-arrow-type__text Смотреть всю продукцию
	a(href="#").home-news__link.link-arrow-type.all-advice.tablet--hiddenn
		+svg('arr-circ-white').link-arrow-type__icon
		.link-arrow-type__text Все советы
































