extends ../layout/main
block variable1
	-
		var title_page = 'Линейка home'
		var breadcrumbsSubitem = [
				{
					label: 'Краски kolorit',
					link: "/"
				},
				{
					label: 'Продукция',
					link: pagesLink[0].products
				},
			];

		
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')
	script(src='./assets/scripts/quiz.js')
block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug


block content
	.container
		include ../includes/breadcrumbs.pug
		style.
			.products-item:nth-child(1) .products-item-l {
				background-image: url('assets/images/temp/z1.jpg');
			}
			@media (max-width: 700px) {
				.products-item:nth-child(1) .products-item-l {
					background-image: none;
				}
			}


			.products-item:nth-child(3) .products-item-l {
				background-image: url('assets/images/temp/z3.jpg');
			}
			@media (max-width: 700px) {
				.products-item:nth-child(3) .products-item-l {
					background-image: none;
				}
			}

			.products-item:nth-child(5) .products-item-l {
				background-image: url('assets/images/temp/z5.jpg');
			}
			@media (max-width: 700px) {
				.products-item:nth-child(5) .products-item-l {
					background-image: none;
				}
			}

		.row.quiz-row
			.quiz
				button.quiz__title.btn--res
					h4.quiz__title-text Быстрый подбор краски 
					+svg('quiz-arrow').quiz__title-icon
				.quiz__inner
					ul.quiz__numbers
						each item, index in [1, 2, 3, 4, 5]
							if index == 0
								li(data-number=index).quiz__number.quiz__number_active 
									.quiz__number-wrapper
										span= item
							else 
								li(data-number=index).quiz__number 
									.quiz__number-wrapper
										span= item
					.quiz__question-wrapper
						.js-quiz__question.quiz__question(data-quest="0")
							span.quiz__quest Для какого помещения подбираете покрытие?
							.quiz__answers-wrapper
								ul.quiz__answers.js-quiz__answers
									//- each item, index in ['Любое', 'Кухня', 'Ванная', 'Детская ', 'Спальня', 'Гостинная', 'Гардероб/холл', 'Балкон', 'Офис/магазин', 'Пищевое производство', 'Складское помещение', 'Мед учереждение', 'ТРЦ', 'Школа/детский сад']
									//- 	li.quiz__answer
									//- 		.quiz__answer-img-wrapper
									//- 			+img('quiz/quiz1.jpg').quiz__answer-img
									//- 		span.quiz__answer-text=item
						.js-quiz__question.quiz__question(data-quest="1")
							span.quiz__quest Какую поверхность планируете покрывать?
							.quiz__answers-wrapper
								ul.quiz__answers.js-quiz__answers
									//- each item, index in ['Любая', 'Стены', 'Потолок', 'Элементы интерьера']
									//- 	li.quiz__answer
									//- 		.quiz__answer-img-wrapper
									//- 			+img('quiz/quiz1.jpg').quiz__answer-img
									//- 		span.quiz__answer-text=item
						.js-quiz__question.quiz__question(data-quest="2")
							span.quiz__quest Какой материал покрываемой поверхности? 
							.quiz__answers-wrapper
								ul.quiz__answers.js-quiz__answers
									//- each item, index in ['Любой', 'Бетон', 'Гипсокартон', 'Кирпич', 'Обои', 'Шпатлевка', 'ДСП/ДВП', 'Минеральная штукатурка', 'Дерево', 'Металл', 'Плитка', 'Стекло', 'Пластик']
									//- 	li.quiz__answer
									//- 		.quiz__answer-img-wrapper
									//- 			+img('quiz/quiz1.jpg').quiz__answer-img
									//- 		span.quiz__answer-text=item
						.js-quiz__question.quiz__question(data-quest="3")
							span.quiz__quest Особенности
							.quiz__answers-wrapper
								ul.quiz__answers.js-quiz__answers
									//- each item, index in ['Защита от плесени и грибка', 'Антимикробная', 'Повышенная кроющая способность', 'Подчеркивающая рельеф', 'Идеально гладкая', 'Для влажных помещений', 'Ремонтная', 'Ультралегкая', 'Идеально белая', 'антикоррозионная', 'Колеруемая ']
									//- 	li.quiz__answer
									//- 		.quiz__answer-img-wrapper
									//- 			+img('quiz/quiz1.jpg').quiz__answer-img
									//- 		span.quiz__answer-text=item
						.js-quiz__question.quiz__question(data-quest="4")
							span.quiz__quest Результат
							.quiz__answers-wrapper
								ul.quiz__answers.js-quiz__result
									span
								//- 	each index in [1, 1, 1, 1, 1, 1]
								//- 		li.quiz__answer
								//- 			.quiz__answer-img-wrapper
								//- 				+img('quiz/quiz1.jpg').quiz__answer-img
								//- 			span.quiz__answer-text Для внутренних работ

		ul.products-list.products-list--margin-bt
			//- ---------------------
			li.products-item
				.products-mobile-img
					+img('prod/w1.jpg')
				.products-item-l
					.products-item__title Линейка Home
					.products-item__text Компания Kolorit - бренд лакокрасочных материалов с 17-летней историей и известным именем.
		
					+img('prod/z1_1.png').products-item__decor-img
					
				
			//- ---------------------
		ul.products-list
			//- ---------------------
			li.products-single-item
				.products-single-item__logo
					+img('logo.svg')
				.products-single-item-l(style="background-color: #EFEAEE")
					.products-single-item__title(style="color: #000C31") Это короткий чудесный заголовок
					.products-single-item__text(style="color: #586386") Компания Kolorit - бренд лакокрасочных материалов с 17-летней историей и известным именем. Компания Kolorit - бренд лакокрасочных материалов
					a(href=pagesLink[0].productsCard style="border-color: #9AB4C1").products-single-item__link.products-single-item-link
						span.products-single-item-link__text(style="color: #000C31") Перейти
					+img('prod-single/ee1.png').products-single-item__decor-img
				.products-single-item-r.products-single-item__img
					+img('prod-single/e1.jpg')
					
				
			//- ---------------------
			//- ---------------------
			li.products-single-item
				.products-single-item__logo
					+img('logo.svg')
				.products-single-item-l(style="background-color: #C8CBC0")
					.products-single-item__title(style="color: #000C31") Это короткий чудесный заголовок
					.products-single-item__text(style="color: #000C31") Компания Kolorit - бренд лакокрасочных материалов с 17-летней историей и известным именем. Компания Kolorit - бренд лакокрасочных материалов
					a(href="#" style="border-color: #fff").products-single-item__link.products-single-item-link
						span.products-single-item-link__text(style="color: #000C31") Перейти
					+img('prod-single/ee1.png').products-single-item__decor-img
				.products-single-item-r.products-single-item__img
					+img('prod-single/e1.jpg')
					
				
			//- ---------------------